(
    port: Stm32F412,
    memory_configuration: (
        internal_memory_map: (
            bootloader_location: 134217728,
            bootloader_length_kb: 1,
            banks: [
                (
                    start_address: 134234112,
                    size_kb: 4,
                ),
                (
                    start_address: 134238208,
                    size_kb: 16,
                ),
                (
                    start_address: 134254592,
                    size_kb: 16,
                ),
            ],
            bootable_index: Some(0),
        ),
        external_memory_map: (
            banks: [
                (
                    start_address: 0,
                    size_kb: 9000,
                ),
                (
                    start_address: 9216000,
                    size_kb: 4,
                ),
                (
                    start_address: 9220096,
                    size_kb: 4,
                ),
            ],
        ),
        external_flash: Some((
            name: "Micron n25q128a",
            internal: false,
            start: 0,
            end: 16777215,
            region_size: 4096,
        )),
        golden_index: Some(4),
    ),
    feature_configuration: (
        serial: Enabled(
            recovery_enabled: true,
            tx_pin: (
                peripheral: "USART6",
                bank: "g",
                index: 14,
                af_index: 8,
            ),
            rx_pin: (
                peripheral: "USART6",
                bank: "g",
                index: 9,
                af_index: 8,
            ),
        ),
        boot_metrics: Enabled(
            timing: true,
        ),
        greetings: Custom(
            loadstone: "Golden bank external",
            demo: "Golden bank external",
        ),
    ),
    security_configuration: (
        security_mode: Crc,
        verifying_key_raw: "",
    ),
)