(port:Stm32F412,memory_configuration:(internal_memory_map:(bootloader_location:134217728,bootloader_length_kb:64,banks:[(start_address:134283264,size_kb:16,),(start_address:134299648,size_kb:850,),],bootable_index:Some(0),),external_memory_map:(banks:[(start_address:0,size_kb:7500,),],),external_flash:Some((name:"Micronn25q128a",internal:false,start:0,end:16777215,region_size:4096,)),golden_index:Some(2),),feature_configuration:(serial:Enabled(recovery_enabled:true,tx_pin:(peripheral:"USART1",bank:"a",index:15,af_index:6,),rx_pin:(peripheral:"USART1",bank:"b",index:3,af_index:7,),),boot_metrics:Enabled(timing:true,),update_signal: Disabled,greetings: Default,),security_configuration:(security_mode:Crc,verifying_key_raw:"",),)
