body {
    min-height: 100vh;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 1em;

    background-color: #272729;
    color: #f2f2f6;
    font-family: sans-serif;
}

header {
    padding-left: 1em;
    background-color: #494949;
    border-bottom: #1a1a1b 0.25em solid;

    display: grid;
    grid-template-columns: auto 1fr auto auto;
}

.nav-link:link, .nav-link:visited {
    min-width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #f2f2f6;
    background-color: #494949;
    text-decoration: none;
}

.nav-link:hover {
    color: #f2f2f6;
    background-color: #1a1a1b;
    text-decoration: none;
}

.nav-link:active {
    color: #1a1a1b;
    background-color: #494949;
    text-decoration: none;
}

main#error, main#loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

main#info, main#file-select {
    margin: 0 20vw;
}

.pane-success { border-left: #5de029 0.25em solid; }
.pane-default { border-left: #0099ff 0.25em solid; }
.pane-failure { border-left: #d12f29 0.25em solid; }

.pane {
    box-shadow: 0.25em 0.25em #1a1a1b;
    margin-bottom: 1em;
}

.pane-top {
    background-color: #363638;
    padding: 1em;
}

.pane-value {
    background-color: #494949;
    padding: 1em;
}

.pane-button:link, .pane-button:visited {
    display: block;
    padding: 1em;

    text-align: center;
    text-decoration: none;
    background-color: #494949;
    color: #f2f2f6;
}

.pane-button:hover {
    background-color: #616161;
}

.pane-button:active {
    background-color: #363638;
}

.disabled-button:link, .disabled-button:visited {
    display: block;
    padding: 1em;

    text-align: center;
    text-decoration: none;
    background-color: #494949;
    color: #616161;
}

h2 {
    margin: 0em;
}

#container {
    max-width: 60vw;
    text-align: center;
}

.pane-controls {
    display: grid;
    grid-template-columns: 1fr auto;
}

.file-button:link, .file-button:visited {
    text-decoration: none;
    padding: 1em;
    background-color: #363638;
    color: #f2f2f6;
}

.file-button:hover {
    background-color: #494949;
}

.file-button:active {
    background-color: #616161;
}

.disabled-file-button:link, .disabled-file-button:visited {
    text-decoration: none;
    padding: 1em;
    background-color: #363638;
    color: #616161;
}

.progress-bar-container {
    background-color: #494949;
    border: #616161 solid 0.5em;
}

.progress-bar {
    height: 2em;
    background-color: #f2f2f6;
}

@media only screen and (max-width: 600px) {
    #container {
        max-width: 100vw;
    }

    main#info, main#file-select {
        margin: 0 1em;
    }

    header {
        text-align: center;
        padding-left: 0;
    }
}
