body {
    margin: 0;
    padding: 0;

    background-color: #272729;
    color: #f2f2f6;
    font-family: monospace;
}

#response-container {
    margin: 0 0 1em 0;
    max-width: 100%;
    max-height: 100%;
    overflow-y: scroll;
    white-space: pre-wrap;
    background-color: #222224;
    border: 0.125em solid #18181a;
}

input, button {
    border-radius: 0;
    font-family: monospace;
}

#input-container {
    display: grid;
    grid-template-columns: 1fr auto auto;
}

span.spacer {
    margin: 0.5em;
}

main#terminal {
    height: 100vh;
    padding: 1em;
    box-sizing: border-box;

    display: grid;
    grid-template-rows: 1fr auto;
}

main#metrics {
    height: 100vh;
    padding: 1em;
    box-sizing: border-box;

    display: grid;
    grid-template-rows: auto 1fr;
}

#metrics-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#metrics-grid {
    display: grid;
    grid-template-columns: auto auto;
}

main#solo-message {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body h1 {
    margin-left: 0.5em;
}
