body {
    min-height: 100vh;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 1em;

    background-color: #272729;
    color: #f2f2f6;
    font-family: sans-serif;
}

header {
    padding-left: 1em;
    background-color: #494949;
    border-bottom: #1a1a1b 0.25em solid;
}

main#error, main#loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

main#info {
    margin: 0 20vw;
}

.info-pane {
    box-shadow: 0.25em 0.25em #1a1a1b;
    border-left: #0099ff 0.25em solid;
    margin-bottom: 1em;
}

.info-pane-name {
    background-color: #363638;
    padding: 1em;
}

.info-pane-value {
    background-color: #494949;
    padding: 1em;
}

h2 {
    margin: 0em;
}

#container {
    max-width: 60vw;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #container {
        max-width: 100vw;
    }

    main#info {
        margin: 0 1em;
    }

    header {
        text-align: center;
        padding-left: 0;
    }
}
